.input-group{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: -82px;
    background-color: bisque;
    padding: 2px 7px;
    border-radius: 2px;
}

.input-group input{
    width: 40%;
    height: 20px;
}

.input-group-icon{
    font-size: 20px;
}